/Week1 Challenge/res/
/Week1 Challenge/data/
/Week1 Challenge/college.xls
*.wav
*.npy
*.pyc
*.pyo
*.pyd
/Channel Measurement/
/Channel_Measurement/module/utils/ldpc_jossy/bin/
/Channel_Measurement/module/utils/ldpc_jossy/data/
/Channel_Measurement/module/utils/ldpc_jossy/src/
.idea
/Week1 Challenge/player/
/Channel_Measurement/data/
/Channel_Measurement/output/
/Channel_Measurement/record/
