/Week1 Challenge/res/
/Week1 Challenge/data/
/Week1 Challenge/college.xls
*.wav
*.npy
*.pyc
*.pyo
*.pyd
__pycache__/
/Channel Measurement/
/Channel_Measurement/module/utils/ldpc_jossy/bin/
/Channel_Measurement/module/utils/ldpc_jossy/data/
/Channel_Measurement/module/utils/ldpc_jossy/src/
/Channel_Measurement/data/
/Channel_Measurement/output/
/Channel_Measurement/record/
/Channel_Measurement/save/
/Channel_Measurement/temp
/repo-branches.svg
